@import "../../../Styles/Global";

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color;
}

.navcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 40px;
}

.navbarmenu {
  position: absolute;
  width: 200px;
  height: 100vh;
  background-color: $primary-color;
  left: -1000px;
  z-index: 999;
  transition: left 1s ease-in;
}

.navicon {
  width: 25px;
}

.sidemenubtn {
  cursor: pointer;
  fill: $secondary-color;
  width: 50px;
}

.navbarbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 8px;
}

.buttontitle {
  font-weight: 500;
  color: $secondary-color;
}

.navbarbtn:focus,
.navbarbtn:hover {
  fill: $secondary-color;
}
