@import "../../../Styles/Global";

.navbarmenu {
  display: none;
  position: absolute;
  left: -1000px;
  z-index: 10;
  transition: left 4s ease-in;
}

#ProfileBtn:hover {

}

#ZoneBtn:hover {

}

.navbar {
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: $primary-color;
}

.sidemenubtn {

}

.navlinks {

}


.navbarbtn {
  color: $primary-fontcolor;
}

.dropdownlist {
  display: none;
  position: absolute;
  z-index: 99;
}

.navbarbtn1:hover .dropdown1,
.navbarbtn2:hover .dropdown2 {
  display: block;
}