$primary-font-size: 1em;
$secondary-font-size: 1em;
$primary-color: #fafafa;
$secondary-color: #0088E2;
$primary-fontcolor: #ffff;
$secondary-fontcolor: #0088E2;
$primary-font-weight: bold;
$seconday-font-weight: bold;

.appbtn {
  cursor: pointer;
  border-radius: 25px;
  padding: 12px;
  color: $primary-fontcolor;
  background-color: $secondary-color;
}

.backbtn {
  padding: 5px;
  color: white;
  background-color: $secondary-color;
}

.forminput {
  border-radius: 0px;
  padding: 5px;
  color: $secondary-fontcolor;
  background-color: white;
  border: 2px solid $secondary-color;
}

.forminput:focus {
  outline: $secondary-color solid 2px;
}