@import "../../../Styles/Global";

.loginpage {
  display: flex;
  flex-direction:column;
  align-items: center;
  align-content: center;

  justify-content: center;
  gap: 50px;
  height: 100vh;
  animation: customFade 1s ease-in;
}

.loginpagefooter {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.togglebtn {
  margin-bottom: 20px;
}

.toggleform {
  padding: 10px;
  background-color: $primary-color;
  border-radius: 60px;
}

.toggleform:hover {
  cursor: pointer;
}

.loginpanel {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.formarea {

}

.loginimage {
  width: 25vw;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.forminputtitle {
  color: $primary-color;
  font-size: $primary-font-size;
  font-weight: bold;
}

.formsubmitinput {
  padding: 10px;
  font-size: $primary-font-size;
  background-color: $primary-color;
  border-radius: 60px;
}

.formsubmitinput:hover {
  cursor: pointer;
}

.forminput {
  color: $primary-color;
  background-color: transparent;
  border: 2px solid $primary-color;
  border-radius: 20px;
  padding: 8px;
}

.forminput:focus {
  border: 2px solid $primary-color;
  outline: none;
}

.logo {

  width: 20%;
}

@media (max-width: 800px) {
  .loginpanel{
    flex-direction: column;
  }
  .loginimage {
    margin-top: 50px;
    width: 50vw;
  }
}