@import "../../../Styles/Global";

.header {
  font-size: 3em;
  color: $secondary-fontcolor;
}

.formtitle {
  font-size: 1em;
  color: $secondary-fontcolor;
}

.rightsideimg {
  width: 20%;
  position: absolute;
}